In [5]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np
import pandas as pd

In [6]:
#Extracting required column from Table
data=pd.read_csv(r"C:\Users\Shridhar Palo\Desktop\Shrikant Patro\Assignment_Dataset\Sample Data for Creative Analysis.csv")
data.head()
data_copy=data.iloc[:,1:4]
data_copy.head()

   Results  Cost Per Result   CTR
0    29536              186  1.48
1    97570              280  1.90
2    75089              166  1.00
3    92104              111  1.97
4    60378              429  0.33

In [7]:
#Standarize the column for proper result
from sklearn import preprocessing
x = data_copy.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [8]:
df.head()

         0         1      2
0  0.29536  0.369478  0.740
1  0.97570  0.558233  0.950
2  0.75089  0.329317  0.500
3  0.92104  0.218876  0.985
4  0.60378  0.857430  0.165

In [9]:
#Rename Column
df.columns=['Results','Cost Per Result','CTR']
df.head()

   Results  Cost Per Result    CTR
0  0.29536         0.369478  0.740
1  0.97570         0.558233  0.950
2  0.75089         0.329317  0.500
3  0.92104         0.218876  0.985
4  0.60378         0.857430  0.165

In [10]:
#Concatinate the object Id to Table with Standardized column 
object_id = data["Object ID"]
df2 = pd.concat([df,object_id], axis = 1)
df2.head()

   Results  Cost Per Result    CTR  Object ID
0  0.29536         0.369478  0.740          1
1  0.97570         0.558233  0.950          2
2  0.75089         0.329317  0.500          3
3  0.92104         0.218876  0.985          4
4  0.60378         0.857430  0.165          5

In [11]:
#Analyze the performance for the creatives
#initializing weight array and string column values in array variable
#Weights_array = [0.33,-0.33,0.33]
Result_array = df["Results"].values
Cost_Per_Result_array = df["Cost Per Result"].values
CTR_array= df["CTR"].values
object_id_array = df2["Object ID"].values
Total_array=[]
positive_object_id =[]

In [12]:
print(Result_array)

[0.29536 0.9757  0.75089 ... 0.1337  0.31245 0.61732]

In [13]:
#object Id for top 6 creatives
#Here 0.986 constant obtained after multiple iteration to determine top 6 creative
print("Object Id for Top 6 Creative")
for i,j,k,l in zip(Result_array,Cost_Per_Result_array,CTR_array,object_id_array):
    i = round(i,5)
    j = round(j,5)
    k = round(k,5)
    sum_number = i*.33+k*.33-j*.33
    sum_number = round(sum_number,5)
    if (sum_number > 0.651):
        print("{}\n".format(l))

Object Id for Top 6 Creative
100870

203927

428526

465171

735154

955572